.post-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-top: 4rem;
}

.thumbnail-single {
  @include bg;
  width: $wrapper;
  height: 500px;
  margin: 0.5rem 0rem;
}

// .single-wrapper {
//   margin-top: 4rem;
//   img {
//     width: $fullSizePercent;
//     height: auto;
//   }
// }

// HOVER
.post {
  width: $fullWidthVp;
  height: 40vh;
  margin: 0.2rem;
  background: rgba(0,0,0,0.7);
  position: relative;
  @include respond-to(small) {
    width: 250px;
    height: 250px;
  }
}

.post-thumbnail {
  @include bg;
  width: $fullWidthVp;
  height: 40vh;
  @include respond-to(small) {
    width: 250px;
    height: 250px;
  }
}

.post-content {
  position: absolute;
  display: flex;
  flex-flow: column;
  @include flexCenterCenter;
  padding: 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
  h3, p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
}

.post:hover .post-thumbnail {
  opacity: 0.3;
}

.post:hover .post-content {
  opacity: 1;
}

// MODAL BOX
.modal {
  display: none;
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  min-width: $fullWidthVp;
  min-height: $fullHeightVp;
  overflow: auto;
  background: rgba(0,0,0,0.9);
}

// modal image
.modal-content {
  display: block;
  max-width: $fullSizePercent;
  max-height: 70vh;
  @include respond-to(small) {
    max-width: $wrapper;
  }
}

#caption {
  max-width: $wrapper;
  text-align: left;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
  h3, p, a {
    color: #ccc;
    font-size: 14px;
    font-family: "Julius Sans One", arial, sans-serif;
    line-height: auto;
    padding: 0!important;
    margin: 0!important;
  }
}

// CLOSE MODAL BTN
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
