.modal {
  z-index: 12;
}

// responsive menu icon
.menu-icon-container {
  z-index: 11;
}

#menu-primary-menu {
  z-index: 10;
}

.post-wrapper, .post, .post-container {
  z-index: 9;
}

#rotate-img {
  z-index: 8;
}

#mep-0 {
  z-index: 7;
}

// Josefin text logo
.logo {
  z-index: 6;
}

.background-img {
  z-index: -1;
}
