* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

.Logo {
    position: fixed;
    text-transform: uppercase;
    top: 15px;
    left: 15px;
    cursor: pointer;

    &__Title {
        color: yellow;
        font-family: 'Syncopate', serif, arial;
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 26px;

        @include media(md) {
            font-size: 30px;
        }
    }
}

.Instagram, .Project-Btn {
    @include media(xl) {
        z-index: 9;
    }
}

.Instagram {
    position: fixed;
    font-family: 'Syncopate', serif, arial;
    background: $pink;
    left: 30px;
    top: 100px;
    border-radius: 50%;
    animation: rotating 10s linear infinite;
    
    @include media(lg) {
        top: 42%;
    }

    &__Link {
        @include flexCenterCenter;
        width: 90px;
        height: 90px;
        font-size: 11px;

        @include media(md) {
            font-size: 14px;
            width: 130px;
            height: 130px;
        }
    }
}

.Project-Btn {
    position: fixed;
    left: 0px;
    top: 48px;
    animation: rotatingBack 15s linear infinite;
    
    @include media(md) {
        left: 0;
        top: 30%;
        z-index: 1;
    }

    &__Link {
        @include flexCenterCenter;
        transition: background-color 0.6s;
        height: 80px;
        width: 80px;
        background: #69b4ff;
        border-radius: 50%;
        font-size: 12px;

        @include media(md) {
            height: 100px;
            width: 100px;
        }
    }
}