.Posts {
    @include flexColumnCenterCenter;
    padding-top: 60px;
    padding-bottom: 60px;

    &__Title {
        color: #ffe9ec;
        z-index: 8;
    }

    &__Wrapper {
        max-width: 1040px;
        @include flexCenterCenter;
        flex-wrap: wrap;
        margin-right: -10px;
    }
}

.Post {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.7);
    z-index: 8;
    
    &:hover  {
        @include media(small) { 
            .Post__Thumbnail {
                opacity: 0.3;
            }
            
            .Post__Content, .Post__Title {
                opacity: 1;
            }
        }
    }

    @include media(small) {
        width: 180px;
        height: 180px;
    }

    &__Thumbnail {
        position: relative;
        @include bg;
        width: 100px;
        height: 100px;

        @include media(small) {
            width: 180px;
            height: 180px;
        }
    }

    &__Content {
        position: absolute;
        cursor: pointer;
        @include flexColumnCenterCenter;
        background-color: rgba(0,0,0,0.4);
        padding: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity .5s ease;
    }

    &__Title {
        font-size: 12px;
        margin: 0;
        margin-bottom: 5px;
        color: white;
        text-align: center;

        @include media(small) {
            margin-bottom: 5px;
        }
    }

    &__Content {
        font-size: 12px;
        color: white;
        text-align: center;
        margin-bottom: 0;
    }
}