// PROJECTS SECTION
#projects {
    @include flexCenterCenter;
}

.allProjects {
    min-height: 100vh;
    padding: 40px 0;
    width: $fullWidthVp;
    @include flexColumnCenterCenter;
}

.projects-wrapper {
    background: rgba(246, 195, 203, 0.90);
    border-radius: 1rem;
    padding: 1rem;
    margin: 40px 0;
    max-width: 800px;

    ul {
        padding: 0px;
        margin: 0px;
    }
}

.project-item {
    display: flex;
    align-items: center;
    p a {
        color: #0000e6;
        cursor: pointer;
    }
}


