.Modal {
    z-index: 1001;
}

// responsive menu icon
.menu-icon-container {
    z-index: 1000;
}

#menu-primary-menu,
.menu-primary-menu-container,
.menu,
.menu-item,
.menu-item a {
    z-index: 999;
}

.projects-wrapper {
    z-index: 20;
}
