.Modal {
    z-index: 1001;
}

// Josefin text logo
.logo {
    z-index: 11;
}

// responsive menu icon
.menu-icon-container {
    z-index: 1000;
}

#menu-primary-menu,
.menu-primary-menu-container,
.menu,
.menu-item,
.menu-item a {
    z-index: 999;
}

.post, .post-container h2 {
    z-index: 8;
}

#mep-0 {
    z-index: 6;
}

.projects-wrapper {
    z-index: 10;
}
